<form name="form" #form="ngForm" (ngSubmit)="form.valid && addEmployee()" novalidate>

    <!-- <div class="mb-3">
        <label for="id" class="form-label">Employee Id</label>
        <input type="text" class="form-control" #id="ngModel" name="id" [(ngModel)]="employee.id"
            [ngClass]="{'is-invalid': form.submitted && id.invalid}" required>
        <div *ngIf="form.submitted && id.invalid" class="invalid-feedback">
            <div *ngIf="id.errors && id.errors['required']">
                Employee Id is Required
            </div>
        </div>
    </div> -->

    <div class="mb-3">
        <label for="name" class="form-label">Employee Name</label>
        <input type="text" class="form-control" #name="ngModel" name="name" [(ngModel)]="employee.name"
            [ngClass]="{'is-invalid': form.submitted && name.invalid}" required>

        <div *ngIf="form.submitted && name.invalid" class="invalid-feedback">
            <div *ngIf="name.errors && name.errors['required']">
                Employee Name is Required
            </div>
        </div>

    </div>

    <div class="mb-3">
        <label for="salary" class="form-label">Employee Salary</label>
        <input type="text" class="form-control" #salary="ngModel" name="salary" [(ngModel)]="employee.salary"
            [ngClass]="{'is-invalid': form.submitted && salary.invalid}" required>


        <div *ngIf="form.submitted && salary.invalid" class="invalid-feedback">
            <div *ngIf="salary.errors && salary.errors['required']">
                Employee Salary is Required
            </div>
        </div>

    </div>

    <div class="mb-3">
        <label for="designation" class="form-label">Employee Designation</label>
        <input type="text" class="form-control" #designation="ngModel" name="designation"
            [(ngModel)]="employee.designation" [ngClass]="{'is-invalid': form.submitted && designation.invalid}"
            required>


        <div *ngIf="form.submitted && designation.invalid" class="invalid-feedback">
            <div *ngIf="designation.errors && designation.errors['required']">
                Employee Designation is Required
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <!-- <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button> -->

</form>