<form (ngSubmit)="addContact()" [formGroup]="contactForm">

    <div class="mb-3">
        <label for="name" class="form-label">Name: </label>
        <input type="text" class="form-control" name="name" formControlName="name" [(ngModel)]="contact.name"
            [ngClass]="{'is-invalid': submitted && f['name'].errors}" />
        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
            <div *ngIf="f['name'].errors['required']">
                Name is Required.
            </div>
            <div *ngIf="f['name'].errors['minlength']">
                Name must be at least 6 characters long.
            </div>
            <div *ngIf="f['name'].errors['maxlength']">
                Name must not exceed 10 characters.
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email: </label>
        <input type="text" class="form-control" name="email" formControlName="email" [(ngModel)]="contact.email"
            [ngClass]="{'is-invalid': submitted && f['email'].errors}" />
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">
                Email is Required.
            </div>
            <div *ngIf="f['email'].errors['email']">
                Email is invaid.
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password: </label>
        <input type="password" class="form-control" name="password" formControlName="password"
            [(ngModel)]="contact.password" [ngClass]="{'is-invalid': submitted && f['password'].errors}" />
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">
                Password is Required.
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password: </label>
        <input type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword"
            [(ngModel)]="contact.confirmPassword"
            [ngClass]="{'is-invalid': submitted && f['confirmPassword'].errors}" />
        <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
            <div *ngIf="f['confirmPassword'].errors['required']">
                Confirm Password is Required.
            </div>
            <div *ngIf="f['confirmPassword'].errors['matching']">
                Confirm Password does not match
            </div>
        </div>
    </div>

    <div class="mb-3">
        <input type="checkbox" class="form-check-input" name="acceptTerms" formControlName="acceptTerms"
            [(ngModel)]="contact.acceptTerms" [ngClass]="{'is-invalid': submitted && f['acceptTerms'].errors}" />
        <label for="confirmPassword" class="form-label"> I have read and agree on the terms.</label>
        <div *ngIf="submitted && f['acceptTerms'].errors" class="invalid-feedback">
            Accept Term is Required.
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>